<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<key>CFBundleDisplayName</key><string>Notchshell Finder</string>
	<key>CFBundleExecutable</key><string>NotchshellFinder</string>
	<key>CFBundleIdentifier</key><string>com.notchshell.app.finder</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>NotchshellFinder</string>
	<key>CFBundlePackageType</key><string>XPC!</string>
	<key>CFBundleShortVersionString</key><string>0.6.0</string>
	<key>CFBundleVersion</key><string>9</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>NSHumanReadableCopyright</key><string>© 2026 Hakan Uzum</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key><string>com.apple.FinderSync</string>
		<key>NSExtensionPrincipalClass</key><string>NotchshellFinderSync</string>
	</dict>
</dict>
</plist>
